name: Check spelling in documentation

on: [push, pull_request]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: pip
        cache-dependency-path: pyproject.toml
    - name: Install dependencies
      run: |
        pip install . --group dev
    - name: Check spelling
      run: |
        codespell docs/*.rst --ignore-words docs/codespell-ignore-words.txt
        codespell sqlite_utils --ignore-words docs/codespell-ignore-words.txt
